@import "tailwindcss";

@theme {
  --color-background: #041329;
  --color-surface: #041329;
  --color-surface-container-lowest: #010e24;
  --color-surface-container-low: #0d1c32;
  --color-surface-container: #112036;
  --color-surface-container-high: #1c2a41;
  --color-surface-container-highest: #27354c;
  --color-surface-bright: #2c3951;
  
  --color-primary: #b9c7e4;
  --color-primary-container: #0a192f;
  --color-on-primary-container: #74829d;
  
  --color-secondary: #5cde94;
  --color-secondary-container: #06a662;
  --color-on-secondary-container: #003119;
  
  --color-tertiary: #ffb3b3;
  --color-tertiary-container: #3c0008;
  --color-on-tertiary-container: #ef3d52;
  
  --color-on-surface: #d6e3ff;
  --color-on-surface-variant: #c5c6cd;
  --color-outline: #8f9097;
  --color-outline-variant: #44474d;

  --font-headline: 'Manrope', sans-serif;
  --font-body: 'Inter', sans-serif;

  @keyframes shimmer {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
  }
}

@layer base {
  body {
    @apply bg-background text-on-surface font-body antialiased selection:bg-secondary/30;
    min-height: 100dvh;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .glass-effect {
    @apply backdrop-blur-xl bg-background/80;
  }
}
